@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:wght@400&family=Public+Sans@500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #080808;
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

body {
  background: #f0f0f0;
  min-width: 320px;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  word-break: break-word;
}

.text_hidden {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.head_title, .head_title * {
  font-size: 10vw;
  font-weight: bold;
  font-family: "Bebas Neue", sans-serif;
  line-height: 0.8;
  letter-spacing: -2px;
}
.head_title__sub {
  font-size: 10px;
  line-height: 1.2;
  vertical-align: middle;
}

.logo a {
  font: bold 26px/1 "arial";
  letter-spacing: -1px;
}

.gnb {
  margin-left: 100px;
}
.gnb::after {
  display: block;
  clear: both;
  content: "";
}
.gnb li {
  float: left;
}
.gnb li:not(:first-child) {
  margin-left: 20px;
}
.gnb li a {
  position: relative;
  display: inline-block;
  color: #080808;
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
}
.gnb li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #080808;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.gnb li a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.btn_round {
  overflow: hidden;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 33px;
  margin-right: 8px;
  background: transparent;
  padding: 0 25px 0 22px;
  border-radius: 33px;
  border: 1px solid #080808;
  transition: border-color 1s ease-out;
}
.btn_round span {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  font: 500 18px/1 "arial";
  z-index: 2;
}
.btn_round span:after {
  position: absolute;
  top: 0;
  right: 8px;
  display: inline-block;
  width: 33px;
  height: 33px;
  background: #f97b22;
  border-radius: 100%;
  font-size: 18px;
}
.btn_round::before {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  transform-origin: left bottom;
  transition: 0.3s ease-in-out;
  content: "";
  z-index: 1;
}
.btn_round:hover {
  border-color: #f97b22;
}
.btn_round:hover::before {
  background: #f97b22;
  transform: scaleY(1);
}

.text_tab {
  margin-left: 17vw;
}

.main_wrap,
.sub_wrap {
  height: auto;
  min-height: 625px;
  padding-top: 160px;
}

.sub_wrap {
  color: #333;
}

@media screen and (max-width: 979px) {
  .head_title, .head_title * {
    font-size: 15vw;
  }
}
@media screen and (max-width: 639px) {
  .head_title, .head_title * {
    font-size: 13vw;
  }
}
.header_wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: #f0f0f0;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 5%;
}
.header_wrap #nav {
  flex: 1;
  height: 33px;
}
.header_wrap .nav_side_btn {
  position: relative;
  display: inline-block;
  width: auto;
  height: 33px;
  font: 500 18px/33px "arial";
  padding: 0 30px;
  transition: all 0.3s ease-in-out;
}
.header_wrap .nav_side_btn::before {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 1px solid #080808;
  border-radius: 33px;
  box-sizing: border-box;
  content: "";
  transition: 0.5s ease-in-out;
}
.header_wrap .nav_side_btn:hover {
  padding-right: 40px;
}
.header_wrap .nav_side_btn:hover::before {
  width: 33px;
  background: #f97b22;
  border: 0;
}
.header_wrap .btn_menu {
  display: none;
  margin-left: 20px;
  width: 33px;
  padding: 0 6px;
  height: 33px;
  line-height: 33px;
  text-align: center;
}
.header_wrap .btn_menu i {
  font-size: 20px;
}

@media screen and (max-width: 979px) {
  .header_wrap {
    justify-content: space-between;
  }
  .header_wrap #nav {
    display: none;
  }
  .header_wrap .nav_side {
    flex: 1;
    text-align: right;
  }
  .header_wrap .btn_menu {
    display: inline-block;
  }
}
.footer_wrap {
  padding: 3% 5%;
  background: rgba(0, 0, 0, 0.9);
  color: #d5d5d5;
}
.footer_wrap * {
  color: #d5d5d5;
}
.footer_wrap .footer_top {
  display: flex;
}
.footer_wrap .footer_top .btn_totop {
  display: inline-block;
  width: auto;
  height: 30px;
  color: #d5d5d5;
  position: relative;
  padding-bottom: 2px;
  font-size: 20px;
}
.footer_wrap .footer_top .btn_totop::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #d5d5d5;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.footer_wrap .footer_top .btn_totop:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.footer_wrap .footer_top__clock {
  width: 220px;
}
.footer_wrap .footer_top__clock .country {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}
.footer_wrap .footer_top__clock .clock_text {
  display: flex;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer_wrap .footer_top__clock .clock_text .clock_dot {
  animation: blink 1s step-end infinite;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
.footer_wrap .footer_top__clock .clock_text .clock_dl {
  display: none;
  margin-left: 5px;
}
.footer_wrap .footer_top__clock .clock_text .clock_dl.on {
  display: block;
}
.footer_wrap .footer_top__content {
  flex: 1;
  padding-right: 200px;
}
.footer_wrap .footer_top__content .footer_sns {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: -5px;
}
.footer_wrap .footer_top__content .footer_sns li:not(:first-child) {
  margin-left: 10px;
}
.footer_wrap .footer_top__content .footer_sns li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
}
.footer_wrap .footer_top__content .footer_sns li a i {
  font-size: 20px;
}
.footer_wrap .footer_top__content .footer_desc {
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #777;
}
.footer_wrap .footer_top__content .footer_desc * {
  color: #777;
}
.footer_wrap .footer_top__content .footer_desc p {
  margin-top: 5px;
  font-size: 14px;
}
.footer_wrap .footer_bottom {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}
.footer_wrap .footer_bottom .gnb {
  flex: 1;
}
.footer_wrap .footer_bottom .gnb li a {
  color: #fff;
}
.footer_wrap .footer_bottom .nav_side_btn {
  border: 2px solid white;
  height: 47px;
  line-height: 43px;
}
.footer_wrap .footer_bottom .nav_side_btn span {
  font-size: 2em;
}
.footer_wrap .footer_bottom .nav_side_btn:hover {
  border-color: #f97b22;
}
.footer_wrap .footer_bottom .nav_side_btn:hover span {
  color: #080808;
}
.footer_wrap .footer_bottom .nav_side_btn:hover::before {
  background: #f97b22;
  transform: scaleY(1);
}

@media screen and (max-width: 979px) {
  .footer_wrap {
    position: relative;
  }
  .footer_wrap .footer_top {
    display: block;
  }
  .footer_wrap .footer_top__content {
    padding-right: 0;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .footer_wrap .footer_top .btn_totop {
    position: absolute;
    top: 5%;
    right: 5%;
  }
  .footer_wrap .footer_bottom {
    justify-content: space-between;
  }
  .footer_wrap .footer_bottom .gnb {
    display: none;
  }
}
@media screen and (max-width: 639px) {
  .footer_wrap .footer_top__content {
    text-align: center;
  }
  .footer_wrap .footer_top__content .footer_sns {
    justify-content: center;
    margin-left: 0;
  }
  .footer_wrap .footer_bottom {
    justify-content: space-between;
  }
  .footer_wrap .footer_bottom .gnb {
    display: none;
  }
}
.pop {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0px;
  padding: 100px;
  z-index: 15;
  transition: 0.3s;
  opacity: 0;
}
.pop.on {
  opacity: 1;
}
.pop .con {
  width: 100%;
  height: 100%;
}
.pop .con iframe,
.pop .con img,
.pop .con video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0;
}
.pop .con img {
  object-fit: contain;
}
.pop .close {
  font: bold 14px/1 "arial";
  color: #fff;
  position: absolute;
  top: 30px;
  right: 50px;
  cursor: pointer;
}

.main_wrap .intro_wrap {
  padding: 0 5%;
}
.main_wrap .intro_wrap .intro_head_wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.main_wrap .intro_wrap .intro_head_wrap .head_title__sub {
  padding-bottom: 10px;
}
.main_wrap .intro_wrap .intro_head_wrap .head_title__sub:last-of-type {
  text-align: right;
}
.main_wrap .intro_wrap .intro_head_wrap .intro_head {
  text-align: center;
}
.main_wrap .intro_wrap .intro_head_wrap .intro_head__sub {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}
.main_wrap .intro_wrap .intro_head_wrap .intro_head .head_wrap {
  overflow: hidden;
}
.main_wrap .intro_wrap .intro_head_wrap .intro_head .head_title, .main_wrap .intro_wrap .intro_head_wrap .intro_head .head_title *, .head_title .main_wrap .intro_wrap .intro_head_wrap .intro_head * {
  overflow: hidden;
  width: 100%;
  position: relative;
  margin-top: 20px;
}
.main_wrap .intro_wrap .intro_head_wrap .intro_head .head_title > h2, .main_wrap .intro_wrap .intro_head_wrap .intro_head .head_title * > h2, .head_title .main_wrap .intro_wrap .intro_head_wrap .intro_head * > h2 {
  margin-top: 0;
  padding-top: 5px;
}
@keyframes change {
  0%, 13.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  20%, 33.66% {
    transform: translate3d(0, 30%, 0);
  }
  40%, 53.66% {
    transform: translate3d(0, 60%, 0);
  }
  60%, 73.66% {
    transform: translate3d(0, 90%, 0);
  }
  80%, 93.66% {
    transform: translate3d(0, 60%, 0);
  }
}
.main_wrap .intro_wrap .intro_visual {
  margin-top: 20px;
}
.main_wrap .intro_wrap .intro_visual__img {
  overflow: hidden;
  width: 100%;
  height: 695px;
  border-radius: 16px;
}
.main_wrap .intro_wrap .intro_visual__img img,
.main_wrap .intro_wrap .intro_visual__img video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main_wrap .intro_wrap .intro_bottom {
  display: block;
  width: 480px;
  margin: 10vw auto 12vw;
  text-align: center;
}
.main_wrap .intro_wrap .intro_bottom p + p {
  margin-top: 20px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.3;
  letter-spacing: 0;
}
@media screen and (max-width: 979px) {
  .main_wrap .main_wrap {
    padding-top: 100px;
  }
}
@media screen and (max-width: 639px) {
  .main_wrap .intro_wrap .intro_bottom {
    width: 100%;
    padding: 0 12vw;
  }
  .main_wrap .intro_wrap .intro_bottom p {
    font-size: 13px;
  }
  .main_wrap .intro_wrap .intro_bottom p + p {
    font-size: 12px;
  }
}

.main_wrap .work_wrap {
  padding: 0 5%;
}
.main_wrap .work_wrap .inner {
  padding-top: 70px;
  border-top: 3px solid #080808;
}
.main_wrap .work_wrap .head_title_wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.main_wrap .work_wrap .head_title_wrap .head_title, .main_wrap .work_wrap .head_title_wrap .head_title *, .head_title .main_wrap .work_wrap .head_title_wrap * {
  font-size: 10vw;
}
.main_wrap .work_wrap .head_title_wrap .head_title__sub {
  display: inline-block;
  width: 140px;
  margin-right: 60px;
  padding-bottom: 25px;
}
.main_wrap .work_wrap .work_list_wrap {
  margin-top: 10vw;
}
.main_wrap .work_wrap .work_list_wrap .work_list {
  display: flex;
}
.main_wrap .work_wrap .work_list_wrap .work_list li {
  flex: 1;
  width: 33.3333333333%;
  border-left: 1px solid #080808;
  padding: 0 30px;
}
.main_wrap .work_wrap .work_list_wrap .work_item {
  display: block;
  width: 100%;
  height: 100%;
}
.main_wrap .work_wrap .work_list_wrap .work_item__num {
  margin-right: 5px;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
}
.main_wrap .work_wrap .work_list_wrap .work_item__desc {
  margin-top: 30px;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.22;
}
.main_wrap .work_wrap .work_list_wrap .work_item__title {
  width: auto;
  display: inline-flex;
  align-items: center;
  margin-top: 4px;
  font-size: 19px;
  font-weight: bold;
  line-height: 1.22;
}
.main_wrap .work_wrap .work_list_wrap .work_item__title i {
  font-size: 11px;
  margin-right: 6px;
}
.main_wrap .work_wrap .work_list_wrap .work_item:hover .work_item__title > span {
  text-decoration: underline;
}
.main_wrap .work_wrap .work_list_wrap .work_item__img {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 530px;
  margin-top: 48px;
  background-color: #d8d8d8;
  border-radius: 1.25em;
}
.main_wrap .work_wrap .work_list_wrap .work_item__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.main_wrap .work_wrap .work_list_wrap .work_item__img img + img {
  left: 100%;
}
.main_wrap .work_wrap .work_list_wrap .work_item__img:hover img + img {
  left: 0;
}
.main_wrap .work_wrap .btn_wrap {
  margin-top: 64px;
  text-align: center;
}
@media screen and (max-width: 979px) {
  .main_wrap .work_wrap .head_title_wrap {
    justify-content: start;
    gap: 15px;
  }
  .main_wrap .work_wrap .head_title_wrap .head_title, .main_wrap .work_wrap .head_title_wrap .head_title *, .head_title .main_wrap .work_wrap .head_title_wrap * {
    font-size: 12vw;
  }
  .main_wrap .work_wrap .work_list_wrap .work_list {
    display: block;
  }
  .main_wrap .work_wrap .work_list_wrap .work_list li {
    width: 100%;
    margin-bottom: 50px;
  }
  .main_wrap .work_wrap .btn_wrap {
    margin-top: 8vw;
  }
}
@media screen and (max-width: 979px) {
  .main_wrap .work_wrap .work_list_wrap .work_list li {
    padding: 0 0 0 15px;
  }
}

.main_wrap .news_wrap {
  padding: 0 5%;
  margin-top: 10vw;
}
.main_wrap .news_wrap .inner {
  padding-top: 65px;
  border-top: 3px solid #080808;
  display: flex;
}
.main_wrap .news_wrap .head_title, .main_wrap .news_wrap .head_title *, .head_title .main_wrap .news_wrap * {
  flex: 1;
  width: calc(50% - 8px);
  padding-right: 8px;
}
.main_wrap .news_wrap .news_list_wrap {
  flex: 1;
  width: calc(50% - 8px);
  margin-left: 8px;
}
.main_wrap .news_wrap .news_list_wrap .news_list .small {
  display: block;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
}
.main_wrap .news_wrap .news_list_wrap .news_list strong {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.1;
}
.main_wrap .news_wrap .news_list_wrap .news_list .news_item {
  margin-top: 16px;
}
.main_wrap .news_wrap .news_list_wrap .news_list .news_item li {
  width: 100%;
  min-height: 40px;
  border-bottom: 1px solid rgba(17, 17, 17, 0.2);
  padding: 0 16px;
  font-size: 16px;
}
.main_wrap .news_wrap .news_list_wrap .news_list .news_item li .news_link {
  display: inline-flex;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: space-between;
}
.main_wrap .news_wrap .news_list_wrap .news_list .news_item li .news_link__date {
  font-size: 14px;
  color: #f97b22;
}
.main_wrap .news_wrap .news_list_wrap .btn_wrap {
  margin-top: 90px;
}
@media screen and (max-width: 979px) {
  .main_wrap .news_wrap {
    margin-top: 100px;
  }
  .main_wrap .news_wrap .inner {
    display: block;
  }
  .main_wrap .news_wrap .head_title, .main_wrap .news_wrap .head_title *, .head_title .main_wrap .news_wrap * {
    width: 100%;
    font-size: 18vw;
  }
  .main_wrap .news_wrap .news_list_wrap {
    width: 100%;
    margin: 60px 0 0;
  }
  .main_wrap .news_wrap .news_list_wrap .news_list .news_item li {
    padding: 0 10px;
  }
  .main_wrap .news_wrap .news_list_wrap .btn_wrap {
    margin-top: 60px;
  }
}
@media screen and (max-width: 639px) {
  .main_wrap .news_wrap .news_list_wrap {
    margin: 30px 0 0;
  }
  .main_wrap .news_wrap .news_list_wrap .btn_wrap {
    margin-top: 30px;
  }
}

.main_wrap .gallery_wrap {
  margin-top: 10vw;
  margin-bottom: 130px;
  padding: 0 5%;
}
.main_wrap .gallery_wrap .inner {
  padding-top: 65px;
  border-top: 3px solid #080808;
}
.main_wrap .gallery_wrap .head_title_wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.main_wrap .gallery_wrap .head_title_wrap .head_title, .main_wrap .gallery_wrap .head_title_wrap .head_title *, .head_title .main_wrap .gallery_wrap .head_title_wrap * {
  font-size: 8vw;
}
.main_wrap .gallery_wrap .gallery_list_wrap .gallery_list {
  display: flex;
  margin-top: 10vw;
}
.main_wrap .gallery_wrap .gallery_list_wrap .gallery_list li {
  flex: 1;
  width: 33.3333333333%;
  border-left: 1px solid #080808;
}
.main_wrap .gallery_wrap .gallery_list_wrap .gallery_list li:nth-child(3n+3) {
  border-right: 1px solid #080808;
}
.main_wrap .gallery_wrap .gallery_list_wrap .gallery_list li .gallery_item {
  overflow: hidden;
  display: inline-block;
  width: 100%;
  padding: 0 32px;
}
.main_wrap .gallery_wrap .gallery_list_wrap .gallery_list li .gallery_item__title {
  overflow: hidden;
  display: -webkit-box;
  height: 90px;
  font-size: 25px;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 96px;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.main_wrap .gallery_wrap .gallery_list_wrap .gallery_list li .gallery_item .gallery_info {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.main_wrap .gallery_wrap .gallery_list_wrap .gallery_list li .gallery_item .gallery_info span {
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.45;
}
.main_wrap .gallery_wrap .gallery_list_wrap .gallery_list li .gallery_item__img {
  margin-top: 16px;
  z-index: 1;
  background-color: #d8d8d8;
  border-radius: 1.25em;
  position: relative;
  overflow: hidden;
  padding-top: 66.666%;
  transition: 0.2s;
}
.main_wrap .gallery_wrap .gallery_list_wrap .gallery_list li .gallery_item__img::before {
  overflow: hidden;
  border-radius: 1.25em;
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #f97b22;
  opacity: 0;
  content: "";
  mix-blend-mode: multiply;
  z-index: 1;
  transition: 0.3s;
}
.main_wrap .gallery_wrap .gallery_list_wrap .gallery_list li .gallery_item__img img {
  width: 100%;
  height: 100%;
  max-width: none;
  object-fit: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.4s;
}
.main_wrap .gallery_wrap .gallery_list_wrap .gallery_list li .gallery_item .gallery_item__img:hover::before {
  opacity: 0.8;
}
.main_wrap .gallery_wrap .gallery_list_wrap .gallery_list li .gallery_item .gallery_item__img:hover img {
  transform: scale(1.2);
}
@media screen and (max-width: 979px) {
  .main_wrap .gallery_wrap {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .main_wrap .gallery_wrap .head_title_wrap {
    display: block;
  }
  .main_wrap .gallery_wrap .head_title_wrap .head_title, .main_wrap .gallery_wrap .head_title_wrap .head_title *, .head_title .main_wrap .gallery_wrap .head_title_wrap * {
    font-size: 15vw;
  }
  .main_wrap .gallery_wrap .head_title_wrap .btn_wrap {
    margin-top: 30px;
  }
  .main_wrap .gallery_wrap .gallery_list_wrap .gallery_list {
    display: block;
  }
  .main_wrap .gallery_wrap .gallery_list_wrap .gallery_list li {
    width: 100%;
    margin-bottom: 40px;
    padding-top: 16px;
    border-top: 1px solid #080808;
  }
  .main_wrap .gallery_wrap .gallery_list_wrap .gallery_list li .gallery_item__title {
    height: 75px;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 25px;
  }
}
@media screen and (max-width: 639px) {
  .main_wrap .gallery_wrap .head_title_wrap {
    display: block;
  }
  .main_wrap .gallery_wrap .head_title_wrap .head_title, .main_wrap .gallery_wrap .head_title_wrap .head_title *, .head_title .main_wrap .gallery_wrap .head_title_wrap * {
    font-size: 12vw;
  }
  .main_wrap .gallery_wrap .head_title_wrap .btn_wrap {
    margin-top: 30px;
  }
  .main_wrap .gallery_wrap .gallery_list_wrap .gallery_list li {
    border-left: 0;
  }
  .main_wrap .gallery_wrap .gallery_list_wrap .gallery_list li:nth-child(3n+3) {
    border-right: 0;
  }
  .main_wrap .gallery_wrap .gallery_list_wrap .gallery_list li .gallery_item {
    padding: 0 15px;
  }
}

.main_wrap .about_wrap {
  margin-top: 10vw;
  margin-bottom: 10vw;
  padding: 0 5%;
}
.main_wrap .about_wrap .inner {
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
  border-top: 3px solid #080808;
}
.main_wrap .about_wrap .about_title_wrap {
  flex: 1;
  width: calc(50% - 8px);
  padding-right: 8%;
  margin-right: 8px;
}
.main_wrap .about_wrap .about_title_wrap .head_title__sub {
  font-size: 1.1875em;
  font-weight: 400;
  line-height: 1;
}
.main_wrap .about_wrap .about_title_wrap .head_title, .main_wrap .about_wrap .about_title_wrap .head_title *, .head_title .main_wrap .about_wrap .about_title_wrap * {
  margin-top: 30px;
  font-size: 110px;
}
.main_wrap .about_wrap .about_title_wrap .btn_wrap {
  margin-top: 90px;
}
.main_wrap .about_wrap .about_img_wrap {
  flex: 1;
  width: calc(50% - 8px);
  margin-left: 8px;
  background-color: #d8d8d8;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  padding-top: 50%;
}
.main_wrap .about_wrap .about_img_wrap img {
  width: 100%;
  height: 100%;
  max-width: none;
  object-fit: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.4s;
}
@media screen and (max-width: 979px) {
  .main_wrap .about_wrap .inner {
    display: block;
  }
  .main_wrap .about_wrap .about_title_wrap {
    width: 100%;
    margin: 0;
  }
  .main_wrap .about_wrap .about_title_wrap .head_title, .main_wrap .about_wrap .about_title_wrap .head_title *, .head_title .main_wrap .about_wrap .about_title_wrap * {
    font-size: 12vw;
    line-height: 1;
  }
  .main_wrap .about_wrap .about_title_wrap .btn_wrap {
    margin-top: 5vw;
  }
  .main_wrap .about_wrap .about_img_wrap {
    width: 100%;
    margin: 10vw 0 0;
    padding-top: 100%;
  }
}

.sub_wrap .members_wrap {
  padding: 0 5%;
}
.sub_wrap .members_wrap .head_title, .sub_wrap .members_wrap .head_title *, .head_title .sub_wrap .members_wrap * {
  letter-spacing: 5px;
}
.sub_wrap .members_wrap .inner {
  margin-top: 20px;
  border-top: 1px solid #080808;
}
.sub_wrap .members_wrap .member_title {
  display: inline-block;
  width: 100%;
  font-size: 7vw;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
}
.sub_wrap .members_wrap .member_zone {
  margin-top: 20vw;
}
.sub_wrap .members_wrap .member_zone .member_title {
  border-top: 1px solid #000;
}
.sub_wrap .member_list_wrap {
  margin-top: 5vw;
  padding-bottom: 12vw;
}
.sub_wrap .member_list_wrap .member_all {
  display: flex;
}
.sub_wrap .member_list_wrap .member_all .member_title {
  text-align: right;
}
.sub_wrap .member_list_wrap .member_all__img {
  flex: 1 1 50%;
  width: 50%;
  overflow: hidden;
  border-radius: 0.25em;
}
.sub_wrap .member_list_wrap .member_all__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.sub_wrap .member_list_wrap .member_all__desc {
  width: 45%;
  margin-left: 5%;
}
.sub_wrap .member_list_wrap .member_all__desc p {
  margin-top: 35px;
  font-size: 30px;
  line-height: 1.3;
}
.sub_wrap .member_list_wrap .member_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sub_wrap .member_list_wrap .member_list .member_item {
  width: calc(33.3333333333% - 40px);
  margin-top: 100px;
  margin-left: 60px;
}
.sub_wrap .member_list_wrap .member_list .member_item:nth-of-type(3n + 1) {
  margin-left: 0;
}
.sub_wrap .member_list_wrap .member_list .member_item__info {
  padding-bottom: 20px;
  border-bottom: 1px solid #080808;
}
.sub_wrap .member_list_wrap .member_list .member_item__info .member_item__title {
  width: 100%;
  font-size: 40px;
  font-family: "Bebas Neue", sans-serif;
  line-height: 0.9;
  letter-spacing: 3px;
  word-break: keep-all;
}
.sub_wrap .member_list_wrap .member_list .member_item__info .member_item__desc {
  margin-top: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.sub_wrap .member_list_wrap .member_list .member_item__img {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 500px;
  margin-top: 3vw;
  border-radius: 0.25em;
}
.sub_wrap .member_list_wrap .member_list .member_item__img:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f97b22;
  mix-blend-mode: multiply;
  z-index: 2;
  content: "";
  opacity: 0;
  transition: 0.4s;
}
.sub_wrap .member_list_wrap .member_list .member_item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  transition: 0.4s;
}
.sub_wrap .member_list_wrap .member_list .member_item__img:hover:before {
  opacity: 0.6;
}
.sub_wrap .member_list_wrap .member_list .member_item__img:hover img {
  transform: scale(1.1);
}
@media screen and (max-width: 979px) {
  .sub_wrap .member_list_wrap .member_all {
    display: block;
  }
  .sub_wrap .member_list_wrap .member_all .member_title {
    text-align: left;
  }
  .sub_wrap .member_list_wrap .member_all__img {
    width: 100%;
  }
  .sub_wrap .member_list_wrap .member_all__desc {
    width: 100%;
    margin-left: 0;
  }
  .sub_wrap .member_list_wrap .member_list .member_item {
    width: calc(50% - 30px);
  }
  .sub_wrap .member_list_wrap .member_list .member_item:nth-of-type(3n + 1) {
    margin-left: 60px;
  }
  .sub_wrap .member_list_wrap .member_list .member_item:nth-of-type(odd) {
    margin-left: 0;
  }
}
@media screen and (max-width: 639px) {
  .sub_wrap .members_wrap .member_title {
    font-size: 10vw;
    padding-top: 5vw;
  }
  .sub_wrap .member_list_wrap .member_all {
    display: block;
  }
  .sub_wrap .member_list_wrap .member_all .member_title {
    text-align: left;
  }
  .sub_wrap .member_list_wrap .member_all__img {
    width: 100%;
  }
  .sub_wrap .member_list_wrap .member_all__desc {
    width: 100%;
    margin-left: 0;
  }
  .sub_wrap .member_list_wrap .member_all__desc p {
    margin-top: 15px;
    font-size: 20px;
  }
  .sub_wrap .member_list_wrap .member_list .member_item {
    width: 100%;
    margin-top: 50px;
  }
  .sub_wrap .member_list_wrap .member_list .member_item:nth-of-type(n) {
    margin-left: 0;
  }
  .sub_wrap .member_list_wrap .member_list .member_item__img {
    height: 300px;
  }
}

.sub_wrap .gallery_wrap {
  padding: 0 5%;
}
.sub_wrap .gallery_wrap .gallery_list {
  margin-top: 100px;
  margin-left: -1vw;
  padding-bottom: 150px;
}
.sub_wrap .gallery_wrap .gallery_list::after {
  display: block;
  clear: both;
  content: "";
}
.sub_wrap .gallery_wrap .gallery_list li {
  float: left;
  width: 33.3333333333%;
  padding: 30px 0 50px;
  padding: 0 8px;
}
.sub_wrap .gallery_wrap .gallery_list .gallery_item {
  display: block;
  width: 100%;
  height: 100%;
}
.sub_wrap .gallery_wrap .gallery_list .gallery_item__num {
  display: none;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sub_wrap .gallery_wrap .gallery_list .gallery_item__desc {
  margin-top: 30px;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.22;
}
.sub_wrap .gallery_wrap .gallery_list .gallery_item__title {
  width: auto;
  margin-top: 14px;
  font-size: 20px;
  line-height: 1.22;
}
.sub_wrap .gallery_wrap .gallery_list .gallery_item__pic {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 32px;
  background-color: #d8d8d8;
  border-radius: 0.25em;
  line-height: 0;
}
.sub_wrap .gallery_wrap .gallery_list .gallery_item__pic img {
  width: 100%;
  height: auto;
  transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
@media screen and (max-width: 639px) {
  .sub_wrap .gallery_wrap .gallery_list {
    margin-top: 100px;
    padding-bottom: 150px;
  }
  .sub_wrap .gallery_wrap .gallery_list li {
    flex: 0 1 100%;
    width: 100%;
    border-left: none;
    border-bottom: 1px solid #000;
    padding: 45px 0 72px;
  }
  .sub_wrap .gallery_wrap .gallery_list li:nth-of-type(1) {
    padding-top: 0;
  }
  .sub_wrap .gallery_wrap .gallery_list .gallery_item {
    display: block;
    width: 100%;
    height: 100%;
  }
  .sub_wrap .gallery_wrap .gallery_list .gallery_item__title {
    width: auto;
    margin-top: 14px;
    font-size: 20px;
    line-height: 1.22;
  }
  .sub_wrap .gallery_wrap .gallery_list .gallery_item__pic {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 32px;
    background-color: #d8d8d8;
    border-radius: 1.25em;
    padding-top: 56%;
  }
}

.sub_wrap .youtube_wrap {
  padding: 0 5%;
}
.sub_wrap .youtube_wrap .sub_head {
  display: flex;
  align-items: flex-end;
  padding-bottom: 20px;
}
.sub_wrap .youtube_wrap .sub_head .head_title__sub {
  display: inline-block;
  width: 180px;
  padding-bottom: 10px;
  margin-left: 50px;
}
.sub_wrap .youtube_wrap .gallery_list {
  padding-top: 50px;
  padding-bottom: 50px;
}
.sub_wrap .youtube_wrap .gallery_list li {
  width: 100%;
  border-top: 1px solid #080808;
}
.sub_wrap .youtube_wrap .gallery_list li .gallery_item {
  display: flex;
  overflow: hidden;
  padding: 4vw 1vw;
}
.sub_wrap .youtube_wrap .gallery_list li .gallery_item__img {
  flex: 1;
  position: relative;
  overflow: hidden;
  width: 50%;
  height: 0;
  z-index: 1;
  background-color: gray;
  border-radius: 0.25em;
  padding-top: 28.125%;
  transition: 0.2s;
}
.sub_wrap .youtube_wrap .gallery_list li .gallery_item__img::before {
  overflow: hidden;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  content: "";
  mix-blend-mode: multiply;
  z-index: 1;
  transition: 0.3s;
}
.sub_wrap .youtube_wrap .gallery_list li .gallery_item__img img {
  width: 100%;
  height: 100%;
  max-width: none;
  object-fit: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.4s;
}
.sub_wrap .youtube_wrap .gallery_list li .gallery_item .gallery_item__img:hover::before {
  opacity: 0.8;
}
.sub_wrap .youtube_wrap .gallery_list li .gallery_item .gallery_item__img:hover img {
  transform: scale(1.1);
}
.sub_wrap .youtube_wrap .gallery_list li .gallery_item .gallery_side {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5vw;
}
.sub_wrap .youtube_wrap .gallery_list li .gallery_item .gallery_side__title {
  overflow: hidden;
  display: -webkit-box;
  height: 100px;
  font-size: 24px;
  font-weight: 500;
  font-family: "arial";
  line-height: 1.4;
  color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sub_wrap .youtube_wrap .gallery_list li .gallery_item .gallery_side__desc {
  overflow: hidden;
  margin-top: 1vw;
  font-size: 15px;
  font-weight: 400;
  font-family: "arial";
  line-height: 1.5;
  color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sub_wrap .youtube_wrap .gallery_list li .gallery_item .gallery_side .gallery_info {
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-top: 3vw;
}
.sub_wrap .youtube_wrap .gallery_list li .gallery_item .gallery_side .gallery_info span {
  display: inline-block;
  font-size: 14px;
  line-height: 1.4;
  color: gray;
  font-family: "arial";
}
@media screen and (max-width: 639px) {
  .sub_wrap .youtube_wrap .gallery_list {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .sub_wrap .youtube_wrap .gallery_list li .gallery_item {
    display: block;
    padding: 4vw 1vw;
  }
  .sub_wrap .youtube_wrap .gallery_list li .gallery_item__img {
    width: 100%;
    padding-top: 56.25%;
  }
  .sub_wrap .youtube_wrap .gallery_list li .gallery_item .gallery_side {
    width: 100%;
    margin-left: 0;
    margin-top: 5vw;
  }
}

/*# sourceMappingURL=style.css.map */
