.sub_wrap {
	.gallery_wrap {
		padding: 0 10vw;
		position: relative;
		width: 100%;

		.sub_head {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
		}

		.searchBox {
			position: relative;
			width: 40%;
			height: 60px;
			margin: 0 10px 5px 0;
			padding: 5px 20px;
			font-size: 0;
			border: 2px solid #555;
			border-radius: 60px;
			background: #fff;
			box-shadow: 5px 5px 20px rgba(200, 200, 200, 0.3);

			input {
				width: 100%;
				height: 100%;
				background-color: transparent;
				border: none;
				padding-left: 10px;
				padding-right: 50px;
				font-size: 18px;
				font-family: sans-serif;

				&:focus,
				&:focus-visible {
					border: 0 !important;
				}
			}
			.searchBtn {
				position: absolute;
				top: 4px;
				right: 4px;
				width: 50px;
				height: 50px;
				background: #333;
				border-radius: 50px;
				text-align: center;
				border: 0;
				cursor: pointer;
				transform: translateY(-1px);
				i {
					color: #fff;
					font-size: 20px;
				}
			}
		}

		.loading {
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 10;
			width: 100%;
			height: 100%;
			opacity: 0.8;
			z-index: 100;

			&.off {
				opacity: 0;
				z-index: -1;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.inner {
			padding-top: 100px;
		}
		.gallery_menu {
			display: flex;
			border-bottom: 1px solid $primary-color;

			button {
				display: inline-block;
				font-size: 19px;
				font-weight: 300;
				font-family: 'Verdana', sans-serif;
				padding: 5px 30px;
				color: #666;

				&.on {
					background: #222;
					color: #fff;
					font-size: 20px;
					border-radius: 10px 10px 0 0;
				}
			}
		}

		.gallery_list {
			width: calc(100% + 20px);
			margin-left: -20px;
			padding-bottom: 120px;

			&::after {
				display: block;
				clear: both;
				content: '';
			}

			li {
				float: left;
				width: calc(25% - 20px);
				// border-left: 1px solid $primary-color;
				padding: 20px 0 0;
				margin-left: 20px;
			}
			.gallery_item {
				overflow: hidden;
				display: block;
				width: 100%;
				height: 100%;

				&__num {
					display: none;
					font-size: 25px;
					font-weight: bold;
					line-height: 1.2;
					text-transform: uppercase;
					font-family: 'Verdana', sans-serif;
				}
				&__desc {
					margin-top: 30px;
					font-size: 19px;
					font-weight: 400;
					line-height: 1.22;
				}

				&__pic {
					position: relative;
					overflow: hidden;
					width: 100%;
					background-color: #d8d8d8;
					line-height: 0;

					img {
						width: 100%;
						height: auto;
						transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
					}
				}
				&:hover {
					.gallery_item__pic img {
						transform: scale(1.1);
					}
				}
				.gallery_profile {
					position: relative;
					padding: 50px 0 25px;
					z-index: 2;
					text-align: center;
					transition: 0.4s 0.15s cubic-bezier(0.17, 0.67, 0.5, 1.03);

					&__img {
						overflow: hidden;
						display: block;
						width: 80px;
						height: 80px;
						padding: 3px;
						position: absolute;
						top: -35px;
						left: 50%;
						transform: translateX(-50%);
						z-index: 3;
						background: white;
						border-radius: 100%;

						img {
							border-radius: 100%;
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
					&__title,
					&__id {
						font-size: 17px;
						font-family: 'Open sans';
						line-height: 1.5;
						text-transform: uppercase;
					}
					&__id {
						position: relative;
						cursor: pointer;
						display: inline-block;
						transform: scale(0.9) translateZ(0);
						transition: 0.3s;
						margin-bottom: 2px;

						&::before {
							content: '';
							position: absolute;
							width: 100%;
							height: 1px;
							background-color: $primary-color;
							bottom: 0;
							left: 0;
							transform-origin: right;
							transform: scaleX(0);
							transition: transform 0.3s ease-in-out;
						}
					}
					&:hover .gallery_profile__id {
						font-weight: bold;
						&::before {
							transform-origin: left;
							transform: scaleX(1);
						}
					}
					// transform: translateY(40px);
					// transition: 0.5s;
					// opacity: 0;
				}

				&:hover .gallery_profile {
					// transform: translateY(0px);
					// opacity: 1;
					// &__title,
					// &__id {
					// 	opacity: 1;
					// }
				}
			}
		}
	}

	@media screen and (max-width: $tablet) {
		.gallery_wrap {
			padding: 0 5%;

			.sub_head {
				flex-wrap: wrap;

				.head_title {
				}
			}

			.searchBox {
				flex: 1 1 100%;
				margin: 50px 0 0 0;
			}

			.inner {
				padding-top: 80px;
			}

			.gallery_list {
				width: calc(100% + 20px);
				margin-left: -20px;
				padding-bottom: 120px;

				li {
					width: calc(50% - 20px);
				}
			}
		}
	}

	@media screen and (max-width: $mobile) {
		.gallery_wrap {
			padding: 0 5%;

			.sub_head {
				flex-wrap: wrap;

				.head_title {
				}
			}

			.searchBox {
				flex: 1 1 100%;
				margin: 50px 0 0 0;
			}

			.inner {
				padding-top: 80px;
			}

			.gallery_menu {
				button {
					width: 50%;
				}
			}

			.gallery_list {
				width: 100%;
				margin-left: 0;
				padding-bottom: 100px;

				li {
					width: 100%;
					margin-left: 0;
				}
			}
		}
	}
}
