.location_wrap {
	.head_title {
		padding: 0 10%;
	}
	.inner {
		position: relative;
		#map {
			height: 50vh;
			background: #111;
		}
	}

	.contact_form {
		display: flex;
		gap: 10%;
		margin-top: 100px;
		padding: 0 10%;
		position: relative;

		&::before {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			content: '';
			width: 1px;
			height: 100%;
			background: $primary-color;
		}

		.form_wrap {
			width: 50%;
			form {
				height: 100%;
			}

			fieldset {
				height: 100%;
			}

			table {
				width: 100%;
				tr {
					th {
						display: block;
						font-size: 16px;
						font-weight: 400;
						width: 100%;
						// height: 60px;
						// padding: 10px 0;
						// padding-right: 20px;
						font-family: 'Verdana', sans-serif;
						text-align: left;
					}
					td {
						display: block;
						// height: 60px;
						width: 100%;
						// padding: 10px 0;
						padding-top: 10px;
						margin-bottom: 30px;
						font-family: 'Verdana', sans-serif;
						text-align: left;

						p {
							font-size: 14px;
							display: block;
							width: auto;
							font-weight: 500;
							line-height: 18px;
							padding-top: 0;
							margin: 4px 0;
							color: #f2545b;
						}

						input,
						select {
							background: transparent;
							display: inline-block;
							width: 100%;
							height: 40px;
							padding: 9px 10px;
							font-size: 16px;
							line-height: 22px;
							color: #33475b;
							border: 0;
							border-bottom: 1px solid $primary-color;
							box-sizing: border-box;
							// border-radius: 10px;
							font-family: 'Verdana', sans-serif;
						}

						textarea {
							background: transparent;
							resize: none;
							width: 100%;
							height: 80px;
							padding: 9px 10px;
							font-size: 16px;
							line-height: 22px;
							color: #33475b;
							border: 0;
							border-bottom: 1px solid $primary-color;
							box-sizing: border-box;
							// border-radius: 2px;
							font-family: 'Verdana', sans-serif;
						}
						input[type='checkbox'],
						input[type='radio'] {
							width: auto;
							height: auto;
							padding: 0;
							margin: 3px 5px 3px 10px;
							line-height: normal;
							border: none;
						}

						// input[type='checkbox'] + label,
						// input[type='radio'] + label {
						// 	display: inline-block;
						// 	height: 60px;
						// 	line-height: 60px;
						// }
					}
				}
				.checkboxList {
					li {
						margin-bottom: 10px;
					}
				}
				.form_btn {
					td {
						// display: flex;
						// justify-content: center;
						// width: 100%;
						text-align: center;
						padding: 30px 0 0;
					}

					input {
						border: 0;
						width: 40%;
						height: 40px;
						font-size: 16px;
						line-height: 22px;
						color: #33475b;

						box-sizing: border-box;
						border-radius: 2px;
						font-family: 'Verdana', sans-serif;
						cursor: pointer;

						&[type='submit'] {
							margin-left: 20px;
							background: #cbd6e2;
							border: 1px solid #cbd6e2;
						}
						&[type='reset'] {
							background: #cbcbcb;
							border: 1px solid #cbd6e2;
						}
					}
				}
			}
		}
		.form_info {
			width: 50%;

			&__head {
				font-size: 6vw;
				font-weight: bold;
				font-family: 'Bebas Neue', sans-serif;
				line-height: 0.8;
				letter-spacing: 1px;
			}

			ul {
				padding: 30px 10px;

				li {
					margin-top: 35px;
				}
			}

			&__title {
				font-size: 24px;
				font-weight: bold;
			}

			&__desc {
				margin-top: 15px;
				a {
					font-size: 20px;
					font-weight: normal;
					color: $orange;
					display: inline-block;
					font-family: 'Verdana';
				}

				i {
					margin-right: 15px;
					font-size: 20px;
					display: inline-flex;
					justify-content: center;
					align-items: center;
					width: 40px;
					height: 40px;
					padding: 7px;
					border: 2px solid #111;
					text-align: center;
					border-radius: 50%;
					opacity: 0.8;
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.location_wrap {
		.head_title {
			padding: 0 5%;
		}

		.contact_form {
			display: flex;
			flex-direction: column-reverse;
			margin-top: 100px;
			padding: 0 10%;
			position: relative;

			&:before {
				display: none;
			}

			.form_wrap {
				width: 100%;
				margin-top: 50px;
				background: #fff;
				padding: 30px;
				border-radius: 20px;
			}
			.form_info {
				width: 100%;
			}
		}
	}
}
@media screen and (max-width: $mobile) {
}
