.members_wrap {
	padding: 0 5%;
	.head_title {
		letter-spacing: 5px;
	}
}

.member_list_wrap {
	margin-top: 12vw;
	padding-bottom: 12vw;

	.member_list {
		.member_item {
			display: flex;
			width: 100%;
			align-items: end;
			justify-content: flex-end;
			margin-top: -3vw;

			&__info {
				width: 400px;

				.member_item__title {
					width: 100%;
					font-size: 8vw;
					font-weight: bold;
					font-family: 'Bebas Neue', sans-serif;
					line-height: 0.9;
					letter-spacing: 5px;
					word-break: keep-all;
				}
				.member_item__desc {
					margin-top: 2vw;
					font-size: 3vw;
					font-family: 'Bebas Neue', sans-serif;
					text-transform: uppercase;
				}
			}

			&:nth-of-type(odd) {
				flex-direction: row-reverse;

				.member_item__info {
					padding-left: 3vw;
				}
			}
			&:nth-of-type(even) {
				.member_item__info {
					padding-right: 3vw;
					text-align: right;
				}
			}

			&__img {
				position: relative;
				overflow: hidden;
				width: 420px;
				height: 560px;
				border-radius: 1.25em;

				&:before {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: $orange;
					mix-blend-mode: multiply;
					z-index: 2;
					content: '';
					opacity: 0;
					transform-origin: center center;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					transition: 0.4s;
				}

				&:hover {
					&:before {
						opacity: 0.6;
					}
					img {
						transform: scale(1.2);
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.member_list_wrap {
		.member_list {
			.member_item {
				margin-top: 10vw;

				&__info {
					width: 50%;

					.member_item__desc {
						font-size: 5vw;
					}
				}

				&__img {
					width: 50%;
					height: auto;

					&::before {
						display: none;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.member_list_wrap {
		.member_list {
			.member_item {
				align-items: center;
			}
		}
	}
}
